footer{
    display:flex;
    flex-direction: row;
    background-color: maroon;
    padding: 1rem;
    font-family: Dosis;
    
    }

section:last-child {
    margin-right:last-child 0em;
}
section {
    margin-right: 1em;
    display: flex;
    flex-direction: column;
}
h2 {
    color: white;
    border-bottom: 1px solid;
    margin-bottom: 3px;
    padding-bottom: 7px;
    font-size: 1.4em;
    letter-spacing: 3px;
}
a {
    color:white;
    text-decoration: none;
    font-style: bold;
    margin-bottom: 3px;
    font-size: 1em;
    
}
a:hover {
    border-bottom: 1px solid white;
    margin-bottom: 2px;
}
